.slideInRight {
  opacity: 0;
  transform: translateX(-50px);
  transition: all 1000ms;
}

.slideInRightSub {
  opacity: 0;
  transform: translateX(-50px);
  transition: all 1000ms 200ms;
}

.slideInLeft {
  opacity: 0;
  transform: translateX(50px);
  transition: all 1000ms;
}

.slideInLeftSub {
  opacity: 0;
  transform: translateX(50px);
  transition: all 1000ms 200ms;
}

.slideInUp {
  opacity: 0;
  transform: translateY(50px);
  transition: all 1000ms;
}

.slideInUpSub {
  opacity: 0;
  transform: translateY(50px);
  transition: all 1000ms 200ms;
}

.slideInDown {
  opacity: 0;
  transform: translateY(-50px);
  transition: all 1000ms;
}

.slideInDownSub {
  opacity: 0;
  transform: translateY(-50px);
  transition: all 1000ms 200ms;
}

.imgPop {
  opacity: 0;
  transition: all 1000ms 200ms;
}

.textScale {
  opacity: 0;
  transform: scale(0);
  transition: all 1000ms;
}

.moveInLeft {
  transform: translateX(350px);
}

.show {
  opacity: 1;
  transform: translateX(0) translateY(0);
  transform: scale(1);
}

.no-scrollbar {
  scrollbar-width: none;
}

@config "../../tailwind.config.js";

@import "tailwindcss";
