---
export interface Props {
  className?: string;
}

const { className = "" } = Astro.props;
---

<section
  class={`bg-background-primary flex flex-col justify-center mt-20 ${className}`}
>
  <slot />
</section>
