---
import HeroSection from "../components/HeroSection.astro";
import Container from "../layouts/Container.astro";
import Layout from "../layouts/Layout.astro";
import ScrollAnimation from "../components/animation/ScrollAnimation";

const heroSectionData = {
  headers: ["Get in Touch", "With Our Team Experts"],
  description: `Have questions, need a demo, or wish to discuss how VikalpOS can transform your department? 
Our team is here to help you accelerate digital governance and deliver better outcomes`,
};

const data = {
  headers: ["Get in Touch", "With Our Team Experts"],
  description: `Have questions, need a demo, or wish to discuss how VikalpOS can transform your department? 
Our team is here to help you accelerate digital governance and deliver better outcomes`,
};
---

<Layout>
  <HeroSection
    headers={heroSectionData.headers}
    description={heroSectionData.description}
  >
    <div class="h-fit slideInLeft">
      <img
        src="https://res.cloudinary.com/senpiper/image/upload/v1753764912/senpiper_assets/VikalpOS/Group_1000005383_x97fwz.svg"
        alt="#"
        class="w-fit"
      />
    </div>
  </HeroSection>

  <div class="bg-red-200 w-full h-100vh"></div>

  <Container headers={data.headers} description={data.description}>
    <ScrollAnimation client:load />
  </Container>
</Layout>
