---
import Wrapper from "../layouts/Wrapper.astro";
import Button from "./common/Button.astro";

export interface Props {
  headers: string[];
  description: string;
  hideButton?: boolean;
}

const { headers, description, hideButton = false } = Astro.props as Props;
---

<section class="bg-background-tertiary">
  <Wrapper>
    <div
      class="grid grid-cols-1 lg:grid-cols-2 gap-10 place-start justify-items-start"
    >
      <div class="flex flex-col space-y-3 h-fit slideInRight">
        <h1
          class="font-bold text-typography-100 text-xl md:text-2xl lg:text-4xl"
        >
          {
            headers.map((header, index) => (
              <span
                class={
                  index % 2 == 0 ? "text-typography-100" : "text-primary-70"
                }
              >
                {header}
              </span>
            ))
          }
        </h1>
        <p
          class="text-typography-80 text-left w-full md:text-lg self-center md:self-start"
        >
          {description}
        </p>

        {
          !hideButton && (
            <div class="pt-4 md:pt-6">
              <Button link="/platform" />
            </div>
          )
        }
      </div>

      <slot />
    </div>
  </Wrapper>
</section>
