<div class="relative w-full overflow-hidden p-4 px-8 slideInUp">
  <div
    id="carousel-track"
    class="transition-transform duration-500 ease-in-out flex"
  >
    <slot />
  </div>

  <!-- Navigation -->
  <button
    id="carousel-prev"
    class="absolute left-0 top-1/2 transform -translate-y-1/2 bg-white p-2 shadow rounded-full"
  >
    ‹
  </button>
  <button
    id="carousel-next"
    class="absolute right-0 top-1/2 transform -translate-y-1/2 bg-white p-2 shadow rounded-full"
  >
    ›
  </button>
</div>

<script>
  const track = document.getElementById("carousel-track") as HTMLElement;
  const prevBtn = document.getElementById("carousel-prev") as HTMLButtonElement;
  const nextBtn = document.getElementById("carousel-next") as HTMLButtonElement;

  let index = 0;
  const slides = track.children;
  let total = slides.length;

  const isMobile = window.innerWidth < 1024;

  // if (!isMobile) {
  //   const intPart = Math.trunc(total / 3);
  //   const fractionPart = total / 3 - intPart;

  //   total = intPart;
  //   if (fractionPart > 0) {
  //     total += 1;
  //   }

  //   console.log("sangram", { total });
  // }

  const updateButtons = () => {
    prevBtn.disabled = index === 0;
    nextBtn.disabled = index >= total - 1;
  };

  const moveSlide = (direction: number) => {
    const offsetWidth = slides[0].offsetWidth;
    const carouselTrackWidth = track.offsetWidth;
    const scrollWidth = slides.length * offsetWidth;

    if (carouselTrackWidth >= scrollWidth || scrollWidth <= offsetWidth) return;

    index += direction;

    console.log("sangram", { direction, index, total });

    track.style.transform = `translateX(-${index * offsetWidth}px)`;
    updateButtons();
  };

  let direction = "forward";

  setInterval(() => {
    if (index >= total) {
      direction = "backward";
    }

    if (index <= 0) {
      direction = "forward";
    }

    if (direction === "forward") {
      // moveSlide(1);
      if (isMobile) moveSlide(1);
      else moveSlide(3);
    } else {
      // moveSlide(-1);
      if (isMobile) moveSlide(-1);
      else moveSlide(-3);
    }
  }, 2000);

  prevBtn.addEventListener("click", () => moveSlide(-1));
  nextBtn.addEventListener("click", () => moveSlide(1));
</script>
