---

---

<!-- Footer section -->
<footer class="flex justify-center">
  <div
    class="px-4 py-8 max-w-mob md:px-10 md:py-12 sm:max-w-fhd lg:pt-20 lg:pb-8 lg:px-20 xl:px-[163px] 2xl:px-[230px] w-full overflow-hidden"
  >
    <div class="flex flex-col space-y-10">
      <div
        class="space-y-6 md:space-y-0 md:grid text-blue-grey-70 md:mx-auto md:grid-cols-3 md:gap-x-20 lg:gap-x-36 2xl:gap-x-48 mx-4"
      >
        <!-- Products -->
        <div
          class="flex flex-col space-y-3 row-start-3 row-span-1 md:row-start-1 md:col-start-2"
        >
          <h4
            class="font-bold text-[#202337] text-mbtn md:text-tbtn lg:text-btn 2xl:text-tbd1 slideInUp"
          >
            Products
          </h4>
          <h4
            class="font-bold text-mbtn md:text-tbtn lg:text-btn 2xl:text-tbd1 md:pt-2 slideInUp"
          >
            By Industry
          </h4>
          <div class="flex flex-col space-y-2 slideInUpSub">
            <a
              href="/products/by-industry/manufacturing/"
              class="text-mbtn md:text-tbtn lg:text-btn 2xl:text-tbd1"
            >
              Manufacturing
            </a>
            <a
              href="/products/by-industry/warehouse-and-logistics/"
              class="text-mbtn md:text-tbtn lg:text-btn 2xl:text-tbd1"
            >
              Warehouse and logistics
            </a>
            <a
              href="/products/by-industry/facility-management/"
              class="text-mbtn md:text-tbtn lg:text-btn 2xl:text-tbd1"
            >
              Facility management
            </a>
            <a
              href="/products/by-industry/eGovernance/"
              class="text-mbtn md:text-tbtn lg:text-btn 2xl:text-tbd1"
            >
              e-Governance
            </a>
            <a
              href="/products/by-industry/information-technology/"
              class="text-mbtn md:text-tbtn lg:text-btn 2xl:text-tbd1"
            >
              Information technology
            </a>
          </div>
          <h4
            class="font-bold text-mbtn md:text-tbtn lg:text-btn 2xl:text-tbd1 md:pt-2 slideInUp"
          >
            By Role
          </h4>
          <div class="flex flex-col space-y-2 slideInUpSub">
            <a
              href="/products/by-role/it-head/"
              class="text-mbtn md:text-tbtn lg:text-btn 2xl:text-tbd1"
            >
              IT Head
            </a>
            <a
              href="/products/by-role/business-manager/"
              class="text-mbtn md:text-tbtn lg:text-btn 2xl:text-tbd1"
            >
              Business manager
            </a>
          </div>
          <h4
            class="font-bold text-mbtn md:text-tbtn lg:text-btn 2xl:text-tbd1 md:pt-2 slideInUp"
          >
            Low Code
          </h4>
          <div class="flex flex-col space-y-2 slideInUpSub">
            <a
              href="/products/low-code/low-code/"
              class="text-mbtn md:text-tbtn lg:text-btn 2xl:text-tbd1"
            >
              What is Low Code?
            </a>
            <a
              href="/products/low-code/comparison/"
              class="text-mbtn md:text-tbtn lg:text-btn 2xl:text-tbd1"
            >
              Low-code comparision
            </a>
          </div>
        </div>
        <!-- Products -->
        <!-- <div class="flex flex-col space-y-3 row-start-1 row-span-2 md:row-start-1 md:row-span-4">
                    <h4 class="font-bold text-mbtn md:text-tbtn lg:text-btn 2xl:text-tbd1 slideInUp">Products</h4>
                    <h4 class="font-bold text-mbtn md:text-tbtn lg:text-btn 2xl:text-tbd1 md:pt-2 slideInUp">By Industry</h4>
                    <div class="flex flex-col space-y-2 slideInUpSub">
                        <a href="/products/by-industry/manufacturing/" class="text-mbtn md:text-tbtn lg:text-btn 2xl:text-tbd1"> Manufacturing </a>
                        <a href="/products/by-industry/warehouse-and-logistics/" class="text-mbtn md:text-tbtn lg:text-btn 2xl:text-tbd1"> Warehouse and logistics </a>
                        <a href="/products/by-industry/facility-management/" class="text-mbtn md:text-tbtn lg:text-btn 2xl:text-tbd1"> Facility management </a>
                        <a href="/products/by-industry/eGovernance/" class="text-mbtn md:text-tbtn lg:text-btn 2xl:text-tbd1"> e-Governance </a>
                        <a href="/products/by-industry/information-technology/" class="text-mbtn md:text-tbtn lg:text-btn 2xl:text-tbd1"> Information technology </a>
                    </div>
                    <h4 class="font-bold text-mbtn md:text-tbtn lg:text-btn 2xl:text-tbd1 md:pt-2 slideInUp">By Role</h4>
                    <div class="flex flex-col space-y-2 slideInUpSub">
                        <a href="/products/by-role/it-head/" class="text-mbtn md:text-tbtn lg:text-btn 2xl:text-tbd1"> IT Head </a>
                        <a href="/products/by-role/business-manager/" class="text-mbtn md:text-tbtn lg:text-btn 2xl:text-tbd1"> Business manager </a>
                    </div>
                    <h4 class="font-bold text-mbtn md:text-tbtn lg:text-btn 2xl:text-tbd1 md:pt-2 slideInUp">Low Code</h4>
                    <div class="flex flex-col space-y-2 slideInUpSub">
                        <a href="/products/low-code/low-code/" class="text-mbtn md:text-tbtn lg:text-btn 2xl:text-tbd1"> What is Low Code? </a>
                        <a href="/products/low-code/comparison/" class="text-mbtn md:text-tbtn lg:text-btn 2xl:text-tbd1"> Low-code comparision </a>
                    </div>
                </div> -->
        <!-- Services -->
        <div
          class="flex flex-col space-y-3 row-start-1 row-span-2 md:row-start-1 md:row-span-4"
        >
          <h4
            class="font-bold text-[#202337] text-mbtn md:text-tbtn lg:text-btn 2xl:text-tbd1 slideInUp"
          >
            <a href="/platform/">Platfrom</a>
          </h4>
          <h4
            class="font-bold text-[#202337] text-mbtn md:text-tbtn lg:text-btn 2xl:text-tbd1 md:pt-2 slideInUp"
          >
            Services
          </h4>
          <h4
            class="font-bold text-[#707070] text-mbtn md:text-tbtn lg:text-btn 2xl:text-tbd1 md:pt-2 slideInUp"
          >
            By Domain
          </h4>
          <div class="flex flex-col space-y-2 slideInUpSub">
            <a class="text-mbtn md:text-tbtn lg:text-btn 2xl:text-tbd1">
              Enterprise Platforms
            </a>
            <a class="text-mbtn md:text-tbtn lg:text-btn 2xl:text-tbd1">
              Warehouse and logistics
            </a>
            <a class="text-mbtn md:text-tbtn lg:text-btn 2xl:text-tbd1">
              Cyber security
            </a>
            <a class="text-mbtn md:text-tbtn lg:text-btn 2xl:text-tbd1">
              Integration Services
            </a>
            <a class="text-mbtn md:text-tbtn lg:text-btn 2xl:text-tbd1"
              >Cloud Services
            </a>
            <a class="text-mbtn md:text-tbtn lg:text-btn 2xl:text-tbd1"
              >Project Monitoring
            </a>
          </div>
          <!-- <h4 class="font-bold text-mbtn md:text-tbtn lg:text-btn 2xl:text-tbd1 md:pt-2 slideInUp">By Role</h4>
                    <div class="flex flex-col space-y-2 slideInUpSub">
                        <a href="/products/by-role/it-head/" class="text-mbtn md:text-tbtn lg:text-btn 2xl:text-tbd1"> IT Head </a>
                        <a href="/products/by-role/business-manager/" class="text-mbtn md:text-tbtn lg:text-btn 2xl:text-tbd1"> Business manager </a>
                    </div>
                    <h4 class="font-bold text-mbtn md:text-tbtn lg:text-btn 2xl:text-tbd1 md:pt-2 slideInUp">Low Code</h4>
                    <div class="flex flex-col space-y-2 slideInUpSub">
                        <a href="/products/low-code/low-code/" class="text-mbtn md:text-tbtn lg:text-btn 2xl:text-tbd1"> What is Low Code? </a>
                        <a href="/products/low-code/comparison/" class="text-mbtn md:text-tbtn lg:text-btn 2xl:text-tbd1"> Low-code comparision </a>
                    </div> -->
        </div>

        <!-- Partner Program -->
        <div
          class="flex flex-col space-y-3 row-start-4 row-span-1 md:row-start-1 md:col-start-4"
        >
          <a href="/partner/">
            <h4
              class="font-bold text-[#202337] text-mbtn 2xl:text-tbd1 slideInUp"
            >
              Partner Program
            </h4>
          </a>
          <div
            class="flex flex-col space-y-3 row-start-3 row-span-1 md:row-start-1 md:col-start-2"
          >
            <h4
              class="font-bold text-[#202337] text-mbtn md:text-tbtn lg:text-btn 2xl:text-tbd1 md:pb-2 slideInUp"
            >
              Company
            </h4>
            <div class="flex flex-col space-y-2 slideInUpSub">
              <a
                href="/contact/"
                class="text-mbtn md:text-tbtn lg:text-btn 2xl:text-tbd1"
              >
                Contact Us
              </a>
              <a
                href="/privacy/"
                class="text-mbtn md:text-tbtn lg:text-btn 2xl:text-tbd1"
              >
                Privacy Policy
              </a>
              <a
                href="/terms/"
                class="text-mbtn md:text-tbtn lg:text-btn 2xl:text-tbd1"
              >
                Terms of Service
              </a>
            </div>
          </div>
        </div>

        <!-- Pricing -->
        <!-- <div class="flex flex-col space-y-3 row-start-4 row-span-1 md:row-start-1 md:col-start-4 ">
                    <h4 class="font-bold text-mbtn md:text-tbtn lg:text-btn 2xl:text-tbd1 md:pb-2 slideInUp">Pricing</h4>
                    <div class="flex flex-col space-y-2 slideInUpSub">
                        <a href="/plans/" class="text-mbtn md:text-tbtn lg:text-btn 2xl:text-tbd1"> Plans </a>
                        <a href="/calculator/" class="text-mbtn md:text-tbtn lg:text-btn 2xl:text-tbd1"> Saving Calculator </a>
                    </div>
                </div> -->

        <!-- Features -->
        <div
          class="flex flex-col space-y-3 row-start-2 row-span-3 md:row-start-1 md:col-start-3"
        >
          <h4
            class="font-bold text-[#202337] text-mbtn md:text-tbtn lg:text-btn 2xl:text-tbd1 md:pb-2 slideInUp"
          >
            Features
          </h4>
          <div class="flex flex-col space-y-2 slideInUpSub">
            <a
              href="/features/data-capture/data-collection/"
              class="text-mbtn md:text-tbtn lg:text-btn 2xl:text-tbd1"
            >
              Data Collection
            </a>
            <a
              href="/features/data-capture/form-field/"
              class="text-mbtn md:text-tbtn lg:text-btn 2xl:text-tbd1"
            >
              Form Fields
            </a>
            <a
              href="/features/data-capture/schema-relationship/"
              class="text-mbtn md:text-tbtn lg:text-btn 2xl:text-tbd1"
            >
              Scheme Relation
            </a>
            <a
              href="/features/automation/workflow/"
              class="text-mbtn md:text-tbtn lg:text-btn 2xl:text-tbd1"
            >
              Workflow
            </a>
            <a
              href="/features/automation/scheduler/"
              class="text-mbtn md:text-tbtn lg:text-btn 2xl:text-tbd1"
            >
              Scheduler
            </a>
            <a
              href="/features/personalization/language/"
              class="text-mbtn md:text-tbtn lg:text-btn 2xl:text-tbd1"
            >
              Communication
            </a>
            <a
              href="/features/security/"
              class="text-mbtn md:text-tbtn lg:text-btn 2xl:text-tbd1"
            >
              Security
            </a>
            <a
              href="/features/analytics/"
              class="text-mbtn md:text-tbtn lg:text-btn 2xl:text-tbd1"
            >
              Analytics
            </a>
            <a
              href="/features/personalization/design/"
              class="text-mbtn md:text-tbtn lg:text-btn 2xl:text-tbd1"
            >
              Design
            </a>
            <a
              href="/features/personalization/language/"
              class="text-mbtn md:text-tbtn lg:text-btn 2xl:text-tbd1"
            >
              Language
            </a>
            <a
              href="/features/personalization/white-labelled-apps/"
              class="text-mbtn md:text-tbtn lg:text-btn 2xl:text-tbd1"
            >
              White Labelled Apps
            </a>
            <a
              href="/features/user-management/profile-management/"
              class="text-mbtn md:text-tbtn lg:text-btn 2xl:text-tbd1"
            >
              Profile Management
            </a>
            <a
              href="/features/user-management/rbac/"
              class="text-mbtn md:text-tbtn lg:text-btn 2xl:text-tbd1"
            >
              Role Based Access Control</a
            >
          </div>
        </div>

        <!-- Company -->
        <!-- <div class="flex flex-col space-y-3 row-start-3 row-span-1 md:row-start-1 md:col-start-2">
                    <h4 class="font-bold text-mbtn md:text-tbtn lg:text-btn 2xl:text-tbd1 md:pb-2 slideInUp">Company</h4>
                    <div class="flex flex-col space-y-2 slideInUpSub">
                        <a href="/contact/" class="text-mbtn md:text-tbtn lg:text-btn 2xl:text-tbd1"> Contact Us </a>
                        <a href="/privacy/" class="text-mbtn md:text-tbtn lg:text-btn 2xl:text-tbd1"> Privacy Policy </a>
                        <a href="/terms/" class="text-mbtn md:text-tbtn lg:text-btn 2xl:text-tbd1"> Terms of Service </a>
                    </div>
                </div> -->

        <!-- Resource -->
        <div
          class="flex flex-col space-y-3 row-start-3 row-span-2 md:row-start-2 md:col-start-4"
        >
          <!-- <a href="https://docs.senpiper.com/">
                        <h4 class="font-bold text-mbtn md:text-tbtn lg:text-btn 2xl:text-tbd1 md:pb-2 slideInUp">Resource</h4>
                    </a> 
                    <!-- <div class="flex flex-col space-y-2 slideInUpSub">
                        <a href="https://docs.senpiper.com/getting-started/overview" class="text-mbtn md:text-tbtn lg:text-btn 2xl:text-tbd1">Getting Started</a>
                        <a href="https://docs.senpiper.com/groups-applications/groups-overview" class="text-mbtn md:text-tbtn lg:text-btn 2xl:text-tbd1">Groups & Application</a>
                        
                        <a href="https://docs.senpiper.com/user-management/introduction" class="text-mbtn md:text-tbtn lg:text-btn 2xl:text-tbd1">User Management</a>
                        <a href="https://docs.senpiper.com/form-builder/introduction" class="text-mbtn md:text-tbtn lg:text-btn 2xl:text-tbd1">Form Builder</a>
                        <a href="https://docs.senpiper.com/workflow-builder/introduction" class="text-mbtn md:text-tbtn lg:text-btn 2xl:text-tbd1">Workflow Builder</a>
                        <a href="https://docs.senpiper.com/alarm-builder/introduction" class="text-mbtn md:text-tbtn lg:text-btn 2xl:text-tbd1">Alarm Builder</a>
                        
                        <a href="https://docs.senpiper.com/digitize-a-sample-process/overview-of-the-process" class="text-mbtn md:text-tbtn lg:text-btn 2xl:text-tbd1">Digitize process</a>
                    </div> -->
        </div>
      </div>

      <!-- Socials -->
      <div
        class="flex flex-col space-y-5 text-center mx-auto border-t border-t-blue-grey-20 md:flex-row md:justify-between md:mx-0 md:space-y-0 md:pt-6"
      >
        <!-- <p class="text-lilac-white-30 text-msub md:text-tsub lg:text-sub 2xl:text-btn my-auto slideInRight">
                    &#169; 2022-23 Senpiper Inc. All rights reserved
                </p> -->
        <p
          class="text-lilac-white-30 text-msub md:text-tsub lg:text-sub 2xl:text-btn my-auto slideInRight"
        >
          © 2025 Senpiper Inc. All rights reserved
        </p>
        <div
          class="flex flex-row md:space-x-3 slideInLeft w-fit mx-auto md:w-auto md:mx-0 items-center"
        >
          <a
            href="https://play.google.com/store/apps/details?id=com.senpiper.android&hl=en_IN&gl=US"
            target="_blank"
            rel="noreferrer"
          >
            <img
              src="https://res.cloudinary.com/senpiper/image/upload/v1669700412/senpiper_assets/new_website_assets/playstore_l3slhq.svg"
              alt="#playStore"
              class="cursor-pointer w-[24px] h-[24px] md:w-8"
            />
          </a>
          <a
            href="https://apps.apple.com/in/app/senpiper/id1196090587"
            target="_blank"
            rel="noreferrer"
          >
            <img
              src="https://res.cloudinary.com/senpiper/image/upload/v1669700412/senpiper_assets/new_website_assets/apple_store_mxtksd.svg"
              alt="#appleStore"
              class="cursor-pointer w-[24px] h-[24px] md:w-8"
            />
          </a>
          <a
            href="https://www.linkedin.com/company/senpiper/mycompany/"
            target="_blank"
            rel="noreferrer"
          >
            <img
              src="https://res.cloudinary.com/senpiper/image/upload/v1666804557/senpiper_assets/new_website_assets/Group_20076_m783so.svg"
              alt="#linkedin"
              class="cursor-pointer w-[24px] h-[24px] md:w-8"
            />
          </a>
          <a
            href="https://www.youtube.com/channel/UClJUVfG3XBxJzMHbbRLJ4zA"
            target="_blank"
            rel="noreferrer"
          >
            <img
              src="https://res.cloudinary.com/senpiper/image/upload/v1666804557/senpiper_assets/new_website_assets/Group_20077_gmb5pf.svg"
              alt="#youtube"
              class="cursor-pointer w-[24px] h-[24px] md:w-8"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
