---
import Wrapper from "../../layouts/Wrapper.astro";

const links = [
  {
    title: "Home",
    link: "/platform",
  },
  {
    title: "Platform",
    link: "/platform",
  },
  // {
  //   title: "Features",
  //   link: "/platform",
  // },
  // {
  //   title: "Case Studies",
  //   link: "/platform",
  // },
  {
    title: "Contact Us",
    link: "/contact-us",
  },
];
---

<!-- Footer section -->
<footer class="flex justify-center bg-typography-90 mt-10 lg:mt-20">
  <Wrapper>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-12 text-white md:p-4">
      <div class="flex flex-col justify-between gap-12">
        <div class="flex flex-col gap-6">
          <img
            src="https://res.cloudinary.com/senpiper/image/upload/v1753871956/senpiper_assets/VikalpOS/icons/VikalpOS_Logo_zayzjk.svg"
            class="w-fit h-[40px] object-contain"
          />

          <div class="flex flex-col gap-2">
            <a class="text-background-tertiary" href="tel:+91-12345 67890"
              >+91-12345 67890</a
            >
            <a class="text-background-tertiary" href="mailto:info@vikalpos.com"
              >info@vikalpos.com</a
            >
          </div>
        </div>

        <span class="text-background-tertiary text-sm"
          >©2025 VikalpOS. All rights reserved.</span
        >
      </div>
      <div class="flex flex-col justify-between gap-12">
        <ul class="flex w-full gap-3 md:gap-8">
          {
            links.map(element => (
              <li class=" text-xs md:text-base text-background-tertiary transition-all hover:text-primary-40">
                <a href={element.link}>{element.title}</a>
              </li>
            ))
          }
        </ul>

        <img
          src="https://res.cloudinary.com/senpiper/image/upload/v1753871201/senpiper_assets/VikalpOS/icons/Group_1000005388_wsekod.svg"
        />
      </div>
    </div>
  </Wrapper>
</footer>
