---
import Wrapper from "../../layouts/Wrapper.astro";
import Button from "./Button.astro";
---

<nav
  class="z-50 fixed top-0 left-0 w-[100vw] flex justify-center bg-background-primary"
>
  <Wrapper className="w-full hidden lg:block">
    <!-- Desktop Nav -->
    <div class="hidden h-16 lg:flex lg:items-center">
      <div class="lg:flex justify-between items-center w-full h-full p-4">
        <!-- Left -->

        <div
          class="flex shrink-0 gap-8 xl:gap-16 lg:w-4/5 xl:w-3/4 lg:h-full lg:items-center justify-between text-typography-80"
        >
          <!-- Logo -->
          <a class="flex items-center" href="/">
            <img
              src="https://res.cloudinary.com/senpiper/image/upload/v1753867004/senpiper_assets/VikalpOS/icons/Logo_Type_w_Text_aah0p0.svg"
              alt="Senpiper"
              class="w-[96px] h-[32px]"
            />
          </a>
          <!-- Menu -->
          <div class="flex gap-8 lg:h-full lg:items-center flex-1">
            <!-- Home -->
            <a
              class="relative flex min-w-fit justify-center h-full items-center group"
              href="/"
            >
              <p
                class="lg:text-tbtn xl:text-btn 2xl:text-tbd1 cursor-pointer py-1 group-hover:border-b-2 group-hover:border-primary-70 group-hover:text-primary-70"
              >
                Home
              </p>
            </a>

            <!-- Vikalp Hub -->

            <a
              class="relative flex min-w-fit justify-center h-full items-center group"
              href="/vikalp-hub"
            >
              <p
                class="lg:text-tbtn xl:text-btn 2xl:text-tbd1 cursor-pointer py-1 group-hover:border-b-2 group-hover:border-primary-70 group-hover:text-primary-70"
              >
                Vikalp Hub
              </p>
            </a>

            <!-- Services -->
            <!-- <a
              class="relative flex min-w-fit justify-center h-full items-center group"
              href="/Services/"
            >
              <p
                class="lg:text-tbtn xl:text-btn 2xl:text-tbd1 cursor-pointer py-2 group-hover:border-b-2"
              >
                Services
              </p>
            </a> -->
            <!-- Products -->
            <div
              class="hidden relative flex min-w-fit justify-center gap-1 xl:gap-3 h-full items-center group"
            >
              <p
                class="lg:text-tbtn xl:text-btn 2xl:text-tbd1 cursor-pointer py-2 group-hover:border-b-2"
              >
                Products
              </p>
              <div
                class="transition-all invisible opacity-0 absolute top-14 2xl:top-20 -left-16 bg-white text-violet space-y-6 group-hover:opacity-100 group-hover:visible w-96 2xl:w-[26rem] p-6 rounded-lg drop-shadow-[0_20px_40px_rgba(82,82,82,0.2)]"
              >
                <ul class="space-y-6 pr-24">
                  <li class="flex justify-between">
                    <div class="space-y-2">
                      <div class="flex gap-6 items-center">
                        <div class="w-8 flex items-center">
                          <img
                            src="https://res.cloudinary.com/senpiper/image/upload/v1680243303/senpiper_assets/new_website_assets/Enterprise_wlqr2f.svg"
                            alt=""
                            class="w-8"
                          />
                        </div>
                        <p class="font-semibold text-mbd1 2xl:text-tbd1">
                          By Industry
                        </p>
                      </div>
                      <ul
                        class="text-blue-grey-70 text-mbd1 2xl:text-tbd1 space-y-2 ml-16"
                      >
                        <li class="hover:text-yellow cursor-pointer">
                          <a href="/products/by-industry/manufacturing/"
                            >Manufacturing</a
                          >
                        </li>
                        <li class="hover:text-yellow cursor-pointer">
                          <a
                            href="/products/by-industry/warehouse-and-logistics/"
                            >Warehouse and logistics</a
                          >
                        </li>
                        <li class="hover:text-yellow cursor-pointer">
                          <a href="/products/by-industry/facility-management/"
                            >Facility management</a
                          >
                        </li>
                        <li class="hover:text-yellow cursor-pointer">
                          <a href="/products/by-industry/eGovernance/"
                            >e-Governance</a
                          >
                        </li>
                        <li class="hover:text-yellow cursor-pointer">
                          <a
                            href="/products/by-industry/information-technology/"
                            >Information technology</a
                          >
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="flex justify-between">
                    <div class="space-y-2">
                      <div class="flex gap-6 items-center">
                        <div class="w-8 flex items-center">
                          <img
                            src="https://res.cloudinary.com/senpiper/image/upload/v1680243329/senpiper_assets/new_website_assets/Support_icon_dc5czp.svg"
                            alt=""
                            class="w-8"
                          />
                        </div>
                        <p class="font-semibold text-mbd1 2xl:text-tbd1">
                          By Role
                        </p>
                      </div>
                      <ul
                        class="text-blue-grey-70 text-mbd1 2xl:text-tbd1 space-y-2 ml-16"
                      >
                        <li class="hover:text-yellow cursor-pointer">
                          <a href="/products/by-role/it-head/">IT Head</a>
                        </li>
                        <li class="hover:text-yellow cursor-pointer">
                          <a href="/products/by-role/business-manager/"
                            >Business manager</a
                          >
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="flex justify-between">
                    <div class="space-y-2">
                      <div class="flex gap-6 items-center">
                        <div class="w-8 flex items-center">
                          <img
                            src="https://res.cloudinary.com/senpiper/image/upload/v1680631485/senpiper_assets/new_website_assets/Flexible_Integration_icon_h9v77v.svg"
                            alt=""
                            class="w-8"
                          />
                        </div>
                        <p class="font-semibold text-mbd1 2xl:text-tbd1">
                          Low Code
                        </p>
                      </div>
                      <ul
                        class="text-blue-grey-70 text-mbd1 2xl:text-tbd1 space-y-2 ml-16"
                      >
                        <li class="hover:text-yellow cursor-pointer">
                          <a href="/products/low-code/low-code/"
                            >What is low code?</a
                          >
                        </li>
                        <li class="hover:text-yellow cursor-pointer">
                          <a href="/products/low-code/comparison/"
                            >Low code comparision</a
                          >
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </div>

            <!-- Features -->
            <div
              class="hidden relative flex min-w-fit justify-center gap-1 xl:gap-3 h-full items-center group"
            >
              <p
                class="lg:text-tbtn xl:text-btn 2xl:text-tbd1 cursor-pointer py-2 group-hover:border-b-2"
              >
                Features
              </p>

              <div
                class="flex justify-between invisible absolute top-14 2xl:top-20 -left-16 bg-white text-violet group-hover:visible w-[625px] 2xl:w-[44rem] p-6 rounded-lg drop-shadow-[0_20px_40px_rgba(82,82,82,0.2)]"
              >
                <!-- Left list -->
                <ul class="space-y-6 pr-24 border-r-2 border-blue-grey-20">
                  <li class="flex justify-between">
                    <div class="space-y-2">
                      <div class="flex gap-6 items-center">
                        <div class="w-8 flex items-center">
                          <img
                            src="https://res.cloudinary.com/senpiper/image/upload/v1666804563/senpiper_assets/new_website_assets/data_capture_uz7hxc.svg"
                            alt=""
                            class="w-8"
                          />
                        </div>
                        <p class="font-semibold text-mbd1 2xl:text-tbd1">
                          Data Capture
                        </p>
                      </div>
                      <ul
                        class="text-blue-grey-70 text-mbd1 2xl:text-tbd1 space-y-2 ml-16"
                      >
                        <li class="hover:text-yellow cursor-pointer">
                          <a href="/features/data-capture/data-collection/"
                            >Data Collection</a
                          >
                        </li>
                        <li class="hover:text-yellow cursor-pointer">
                          <a href="/features/data-capture/form-field/"
                            >Form Fields</a
                          >
                        </li>
                        <li class="hover:text-yellow cursor-pointer">
                          <a href="/features/data-capture/schema-relationship/"
                            >Schema Relation</a
                          >
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="flex justify-between">
                    <div class="space-y-2">
                      <div class="flex gap-6 items-center">
                        <div class="w-8 flex items-center">
                          <img
                            src="https://res.cloudinary.com/senpiper/image/upload/v1666804605/senpiper_assets/new_website_assets/Automation_w3lto6.svg"
                            alt=""
                            class="w-8"
                          />
                        </div>
                        <p class="font-semibold text-mbd1 2xl:text-tbd1">
                          Automation
                        </p>
                      </div>
                      <ul
                        class="text-blue-grey-70 text-mbd1 2xl:text-tbd1 space-y-2 ml-16"
                      >
                        <li class="hover:text-yellow cursor-pointer">
                          <a href="/features/automation/workflow/">Workflow</a>
                        </li>
                        <li class="hover:text-yellow cursor-pointer">
                          <a href="/features/automation/scheduler/">Scheduler</a
                          >
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="flex justify-between cursor-pointer">
                    <a
                      class="flex gap-6 items-center"
                      href="/features/communication/"
                    >
                      <div class="w-8 flex items-center">
                        <img
                          src="https://res.cloudinary.com/senpiper/image/upload/v1666804605/senpiper_assets/new_website_assets/Chat_lflyjy.svg"
                          alt=""
                          class="w-8"
                        />
                      </div>
                      <p
                        class="font-semibold text-mbd1 2xl:text-tbd1 hover:text-yellow"
                      >
                        Communication
                      </p>
                    </a>
                  </li>
                  <li class="flex justify-between cursor-pointer">
                    <a
                      class="flex gap-6 items-center"
                      href="/features/security/"
                    >
                      <div class="w-8 flex items-center">
                        <img
                          src="https://res.cloudinary.com/senpiper/image/upload/v1666804605/senpiper_assets/new_website_assets/security_gakizz.svg"
                          alt=""
                          class="w-8"
                        />
                      </div>
                      <p
                        class="font-semibold text-mbd1 2xl:text-tbd1 hover:text-yellow"
                      >
                        Security
                      </p>
                    </a>
                  </li>
                </ul>
                <!-- Right list -->
                <ul class="space-y-6">
                  <li class="flex justify-between cursor-pointer">
                    <a
                      class="flex gap-6 items-center"
                      href="/features/analytics/"
                    >
                      <div class="w-8 flex items-center">
                        <img
                          src="https://res.cloudinary.com/senpiper/image/upload/v1666804605/senpiper_assets/new_website_assets/analytis_irmqhy.svg"
                          alt=""
                          class="w-8"
                        />
                      </div>
                      <p
                        class="font-semibold text-mbd1 2xl:text-tbd1 hover:text-yellow"
                      >
                        Analytics
                      </p>
                    </a>
                  </li>
                  <li class="flex justify-between">
                    <div class="space-y-2">
                      <div class="flex gap-6 items-center">
                        <div class="w-8 flex items-center">
                          <img
                            src="https://res.cloudinary.com/senpiper/image/upload/v1666804605/senpiper_assets/new_website_assets/personalize_optuxv.svg"
                            alt=""
                            class="w-8"
                          />
                        </div>
                        <p class="font-semibold text-mbd1 2xl:text-tbd1">
                          Personalization
                        </p>
                      </div>
                      <ul
                        class="text-blue-grey-70 text-mbd1 2xl:text-tbd1 space-y-2 ml-16"
                      >
                        <li class="hover:text-yellow cursor-pointer">
                          <a href="/features/personalization/design/">Design</a>
                        </li>
                        <li class="hover:text-yellow cursor-pointer">
                          <a href="/features/personalization/language/"
                            >Language</a
                          >
                        </li>
                        <li class="hover:text-yellow cursor-pointer">
                          <a
                            href="/features/personalization/white-labelled-apps/"
                            >White labelled apps</a
                          >
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="flex justify-between">
                    <div class="space-y-2">
                      <div class="flex gap-6 items-center">
                        <div class="w-8 flex items-center">
                          <img
                            src="https://res.cloudinary.com/senpiper/image/upload/v1666804605/senpiper_assets/new_website_assets/Operations_team_Icon_1_dkmxg3.svg"
                            alt=""
                            class="w-8"
                          />
                        </div>
                        <p class="font-semibold text-mbd1 2xl:text-tbd1">
                          User management
                        </p>
                      </div>
                      <ul
                        class="text-blue-grey-70 text-mbd1 2xl:text-tbd1 space-y-2 ml-16"
                      >
                        <li class="hover:text-yellow cursor-pointer">
                          <a
                            href="/features/user-management/profile-management/"
                            >Profile Management</a
                          >
                        </li>
                        <li class="hover:text-yellow cursor-pointer">
                          <a href="/features/user-management/rbac/"
                            >Role Based Access Control</a
                          >
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </div>

            <!-- Partner program -->
            <a
              class="relative hidden flex min-w-fit justify-center h-full items-center group"
              href="/partner/"
            >
              <p
                class="lg:text-tbtn xl:text-btn 2xl:text-tbd1 cursor-pointer py-2 group-hover:border-b-2"
              >
                Partner Program
              </p>
            </a>
          </div>
        </div>
        <!-- Right -->
        <Button link="/contact-us" variant="secondary" text="Contact Us" />
      </div>
    </div>
  </Wrapper>
  <!-- Mobile Nav -->
  <div class="lg:hidden relative bg-violet w-full navBar">
    <div class="h-12 flex justify-between pl-6 pr-3">
      <!-- Logo -->
      <a class="flex items-center" href="/">
        <img
          class="w-[75px] h-[32px]"
          src="https://res.cloudinary.com/senpiper/image/upload/v1753867004/senpiper_assets/VikalpOS/icons/Logo_Type_w_Text_aah0p0.svg"
          alt="Senpiper"
          id="logo"
        />
      </a>
      <div
        class="relative flex justify-center items-center w-14 h-full cursor-pointer menu-btn"
      >
        <div
          class="w-8 h-1 bg-primary-70 rounded-sm after:w-8 after:h-1 after:bg-primary-70 after:rounded-sm after:absolute before:w-8 before:h-1 before:bg-primary-70 before:rounded-sm before:absolute menu-btn_burger"
        >
        </div>
      </div>
    </div>
    <div
      class="bg-white text-blue-grey h-[100vh] w-full absolute top-12 hidden"
      id="mainMenu"
    >
      <!-- Home -->
      <div class="menu px-4 space-y-24" id="homeMenu">
        <!-- Main menu -->
        <ul class="mt-8 space-y-6">
          <li>
            <a href="/vikalp-hub" class="hover:text-primary-70">Vikalp Hub</a>
          </li>

          <!-- <li>
            <a href="/Services/">Services</a>
          </li> -->

          <!-- <li class="menuItem flex justify-between pr-3" id="productMenuItem">
            <p>Products</p>
            <img
              src="https://res.cloudinary.com/senpiper/image/upload/v1670503510/senpiper_assets/new_website_assets/Drop_Icon_tnylrp.svg"
              alt=""
            />
          </li>

          <li class="menuItem flex justify-between pr-3" id="featuresMenuItem">
            <p>Features</p>
            <img
              src="https://res.cloudinary.com/senpiper/image/upload/v1670503510/senpiper_assets/new_website_assets/Drop_Icon_tnylrp.svg"
              alt=""
            />
          </li>

          <li>
            <a href="/partner/">Partner Program</a>
          </li> -->
        </ul>
        <div>
          <Button text="Contact Us" link="/contact-us" />
        </div>
      </div>

      <!-- Products -->
      <div class="menu hidden px-6 mt-6 space-y-24" id="productMenu">
        <div class="space-y-4">
          <div class="flex gap-4">
            <img
              src="https://res.cloudinary.com/senpiper/image/upload/v1670503510/senpiper_assets/new_website_assets/Drop_Icon_1_znmsqk.svg"
              alt="back"
              class="backHome"
            />
            <p>Products</p>
          </div>
          <ul class="mt-8 space-y-8">
            <!-- By Industry -->
            <li class="space-y-1">
              <div class="flex gap-4">
                <div class="w-6 flex items-center">
                  <img
                    src="https://res.cloudinary.com/senpiper/image/upload/v1680243303/senpiper_assets/new_website_assets/Enterprise_wlqr2f.svg"
                    alt=""
                    class="w-8"
                  />
                </div>
                <p>By Industry</p>
              </div>
              <ul
                class="space-y-1 font-normal text-blue-grey-70 text-mbtn ml-10"
              >
                <li>
                  <a href="/products/by-industry/manufacturing/" class=""
                    >Manufacturing</a
                  >
                </li>
                <li>
                  <a
                    href="/products/by-industry/warehouse-and-logistics/"
                    class="">Warehouse and logistics</a
                  >
                </li>
                <li>
                  <a href="/products/by-industry/facility-management/" class=""
                    >Facility Management</a
                  >
                </li>
                <li>
                  <a href="/products/by-industry/eGovernance/" class=""
                    >e-Governance</a
                  >
                </li>
                <li>
                  <a
                    href="/products/by-industry/information-technology/"
                    class="">Information technology</a
                  >
                </li>
              </ul>
            </li>

            <!-- By Role -->
            <li class="space-y-1">
              <div class="flex gap-4">
                <div class="w-6 flex items-center">
                  <img
                    src="https://res.cloudinary.com/senpiper/image/upload/v1680243329/senpiper_assets/new_website_assets/Support_icon_dc5czp.svg"
                    alt=""
                    class="w-8"
                  />
                </div>
                <p>By Role</p>
              </div>
              <ul
                class="space-y-1 font-normal text-blue-grey-70 text-mbtn ml-10"
              >
                <li>
                  <a href="/products/by-role/it-head/" class="">IT Head</a>
                </li>
                <li>
                  <a href="/products/by-role/business-manager/" class=""
                    >Business Manager</a
                  >
                </li>
              </ul>
            </li>

            <!-- Low Code -->
            <li class="space-y-1">
              <div class="flex gap-4">
                <div class="w-6 flex items-center">
                  <img
                    src="https://res.cloudinary.com/senpiper/image/upload/v1680631485/senpiper_assets/new_website_assets/Flexible_Integration_icon_h9v77v.svg"
                    alt=""
                    class="w-8"
                  />
                </div>
                <p>Low Code</p>
              </div>
              <ul
                class="space-y-1 font-normal text-blue-grey-70 text-mbtn ml-10"
              >
                <li>
                  <a href="/products/low-code/low-code/" class=""
                    >What is low code?</a
                  >
                </li>
                <li>
                  <a href="/products/low-code/comparison/" class=""
                    >Low code comparision</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </div>

        <div>
          <a
            href="/contact/"
            class="bg-violet text-white font-semibold rounded w-fit text-sub px-6 py-2"
            >Contact us</a
          >
        </div>
      </div>

      <!-- Features -->
      <div class="menu hidden px-6 mt-6 space-y-24" id="featuresMenu">
        <div class="space-y-4">
          <div class="flex gap-4">
            <img
              src="https://res.cloudinary.com/senpiper/image/upload/v1670503510/senpiper_assets/new_website_assets/Drop_Icon_1_znmsqk.svg"
              alt="back"
              class="backHome"
            />
            <p>Features</p>
          </div>
          <ul class="mt-8 space-y-8">
            <!-- Data capture -->
            <li class="space-y-1">
              <div class="flex gap-4">
                <div class="w-6 flex items-center">
                  <img
                    src="https://res.cloudinary.com/senpiper/image/upload/v1666804563/senpiper_assets/new_website_assets/data_capture_uz7hxc.svg"
                    alt=""
                    class="w-8"
                  />
                </div>
                <p>Data capture</p>
              </div>
              <ul
                class="space-y-1 font-normal text-blue-grey-70 text-mbtn ml-10"
              >
                <li>
                  <a href="/features/data-capture/data-collection/" class=""
                    >Data collection</a
                  >
                </li>
                <li>
                  <a href="/features/data-capture/form-field/" class=""
                    >Form Fields</a
                  >
                </li>
                <li>
                  <a href="/features/data-capture/schema-relationship/" class=""
                    >Schema Relation</a
                  >
                </li>
              </ul>
            </li>

            <!-- Automation -->
            <li class="space-y-1">
              <div class="flex gap-4">
                <div class="w-6 flex items-center">
                  <img
                    src="https://res.cloudinary.com/senpiper/image/upload/v1666804605/senpiper_assets/new_website_assets/Automation_w3lto6.svg"
                    alt=""
                    class="w-8"
                  />
                </div>
                <p>Automation</p>
              </div>
              <ul
                class="space-y-1 font-normal text-blue-grey-70 text-mbtn ml-10"
              >
                <li>
                  <a href="/features/automation/workflow/" class="">Workflow</a>
                </li>
                <li>
                  <a href="/features/automation/scheduler/" class=""
                    >Scheduler</a
                  >
                </li>
              </ul>
            </li>

            <!-- Communication -->
            <li>
              <a class="flex gap-4" href="/features/communication/">
                <div class="w-6 flex items-center">
                  <img
                    src="https://res.cloudinary.com/senpiper/image/upload/v1666804605/senpiper_assets/new_website_assets/Chat_lflyjy.svg"
                    alt=""
                    class="w-8"
                  />
                </div>
                <p>Communication</p>
              </a>
            </li>

            <!-- Security -->
            <li>
              <a class="flex gap-4" href="/features/security/">
                <div class="w-6 flex items-center">
                  <img
                    src="https://res.cloudinary.com/senpiper/image/upload/v1666804605/senpiper_assets/new_website_assets/security_gakizz.svg"
                    alt=""
                    class="w-8"
                  />
                </div>
                <p>Security</p>
              </a>
            </li>

            <!-- Analytics -->
            <li>
              <a class="flex gap-4" href="/features/analytics/">
                <div class="w-6 flex items-center">
                  <img
                    src="https://res.cloudinary.com/senpiper/image/upload/v1666804605/senpiper_assets/new_website_assets/analytis_irmqhy.svg"
                    alt=""
                    class="w-8"
                  />
                </div>
                <p>Analytics</p>
              </a>
            </li>

            <!-- Personalization -->
            <li class="space-y-1">
              <div class="flex gap-4">
                <div class="w-6 flex items-center">
                  <img
                    src="https://res.cloudinary.com/senpiper/image/upload/v1666804605/senpiper_assets/new_website_assets/personalize_optuxv.svg"
                    alt=""
                    class="w-8"
                  />
                </div>
                <p>Personalization</p>
              </div>
              <ul
                class="space-y-1 font-normal text-blue-grey-70 text-mbtn ml-10"
              >
                <li>
                  <a href="/features/personalization/design/" class="">Design</a
                  >
                </li>
                <li>
                  <a href="/features/personalization/language/" class=""
                    >Language</a
                  >
                </li>
                <li>
                  <a
                    href="/features/personalization/white-labelled-apps/"
                    class="">White Labelled App</a
                  >
                </li>
              </ul>
            </li>

            <!-- User management -->
            <li class="space-y-1">
              <div class="flex gap-4">
                <div class="w-6 flex items-center">
                  <img
                    src="https://res.cloudinary.com/senpiper/image/upload/v1666804605/senpiper_assets/new_website_assets/Operations_team_Icon_1_dkmxg3.svg"
                    alt=""
                    class="w-8"
                  />
                </div>
                <p>User management</p>
              </div>
              <ul
                class="space-y-1 font-normal text-blue-grey-70 text-mbtn ml-10"
              >
                <li>
                  <a
                    href="/features/user-management/profile-management/"
                    class="">Profile Management</a
                  >
                </li>
                <li>
                  <a href="/features/user-management/rbac/" class=""
                    >Role Based Access Control</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </div>

        <div>
          <a
            href="/contact/"
            class="bg-violet text-white font-semibold rounded w-fit text-sub px-6 py-2"
            >Contact us</a
          >
        </div>
      </div>
    </div>
  </div>
</nav>

<style>
  .menu-btn {
    transition: all 0.2s ease-in-out;
  }

  .menu-btn_burger {
    transition: all 0.2s ease-in-out;
  }

  .menu-btn_burger::before,
  .menu-btn_burger::after {
    content: "";
    transition: all 0.2s ease-in-out;
  }

  .menu-btn_burger::before {
    transform: translateY(-8px);
  }

  .menu-btn_burger::after {
    transform: translateY(8px);
  }

  /* Animation */

  .menu-btn.open .menu-btn_burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }

  .menu-btn.open .menu-btn_burger::before {
    transform: rotate(45deg) translate(35px, -35px);
    background-color: #3981db;
  }

  .menu-btn.open .menu-btn_burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
    background-color: #3981db;
  }
</style>

<script>
  const allMenus = document.getElementsByClassName("menu");
  const allMenuItems = document.getElementsByClassName("menuItem");
  const allMenuIds = ["productMenu", "featuresMenu"];
  const backHomes = document.getElementsByClassName("backHome");
  const mainMenu = document.getElementById("mainMenu");
  const menuButton = document.querySelector(".menu-btn");

  let mainMenuOpen = false;

  const handleOnClick = (id = "") => {
    for (let i = 0; i < allMenus.length; i++) {
      allMenus[i].classList.add("hidden");
    }
    const requiredMenu = document.getElementById(id);
    requiredMenu?.classList.remove("hidden");
  };

  const toggleMenu = () => {
    if (mainMenuOpen) {
      mainMenu?.classList.add("hidden");
      menuButton?.classList.remove("open");
    } else {
      mainMenu?.classList.remove("hidden");
      menuButton?.classList.add("open");
    }
    mainMenuOpen = !mainMenuOpen;
  };

  menuButton?.addEventListener("click", toggleMenu);

  for (let i = 0; i < allMenuItems.length; i++) {
    allMenuItems[i].addEventListener("click", () =>
      handleOnClick(allMenuIds[i])
    );
  }

  for (let i = 0; i < backHomes.length; i++) {
    backHomes[i].addEventListener("click", () => handleOnClick("homeMenu"));
  }
</script>
