---
import "../styles/global.css";
import Footer from "../components/common/Footer.astro";
import Navbar from "../components/common/Navbar.astro";

export interface Props {
  title?: string;
  metaProps?: {
    ogTitle?: string;
    ogDescription?: string;
    ogKeywords?: string;
    ogUrl?: string;
  };
}

const { title = "", metaProps } = Astro.props;
const { ogTitle, ogDescription, ogKeywords, ogUrl } = metaProps || {};
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link
      rel="icon"
      href="https://res.cloudinary.com/senpiper/image/upload/v1753867004/senpiper_assets/VikalpOS/icons/Logo_Type_w_Text_aah0p0.svg"
      class="text-background-primary"
    />

    <!-- og data -->
    <meta
      property="og:title"
      content={ogTitle || "Build Mobile First Enterprise Grade Software Faster"}
    />
    <meta
      property="og:description"
      content={ogDescription ||
        "Unlock the power of low-code development and maximize ROI with Senpiper. Build mobile-first enterprise-grade software faster, reduce costs, make changes efficiently, ensure security compliance, and provide a delightful user experience. Trusted by global innovators."}
    />
    <meta
      property="og:keywords"
      content={ogKeywords ||
        "manufacturing solutions, mobile-first software, enterprise software, low-code development, ROI, cost reduction, fast changes, security compliance, updated software, user experience"}
    />
    <meta property="og:url" content={ogUrl || "https://senpiper.com/"} />
    <meta property="og:type" content="website" />
    <meta
      property="og:image"
      content="https://res.cloudinary.com/senpiper/image/upload/v1684936087/senpiper_assets/new_website_assets/1_baehgn.jpg"
    />
    <meta
      property="og:image:url"
      content="https://res.cloudinary.com/senpiper/image/upload/v1684936087/senpiper_assets/new_website_assets/1_baehgn.jpg"
    />
    <meta
      property="og:image:secure_url"
      content="https://res.cloudinary.com/senpiper/image/upload/v1684936087/senpiper_assets/new_website_assets/1_baehgn.jpg"
    />
    <meta name="twitter:card" content="summary_large_image" />

    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap"
      rel="stylesheet"
    />

    <style>
      html {
        overflow-x: hidden;
      }
    </style>
  </head>
  <body
    class="bg-background-primary p-0 overflow-x-hidden max-w-screen font-sans"
  >
    <Navbar />

    <main class="mt-20 md:mt-28 flex flex-col gap-16 lg:gap-20">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>

<script>
  const observer = new IntersectionObserver(entries => {
    entries.forEach(entry => {
      if (entry.isIntersecting) {
        entry.target.classList.add("show");
      } else {
        entry.target.classList.remove("show");
      }
    });
  });

  const slideRightElements = document.getElementsByClassName("slideInRight");
  const slideRightSubElements =
    document.getElementsByClassName("slideInRightSub");
  const slideLeftElements = document.getElementsByClassName("slideInLeft");
  const slideLeftSubElements =
    document.getElementsByClassName("slideInLeftSub");
  const slideUpElements = document.getElementsByClassName("slideInUp");
  const slideUpSubElements = document.getElementsByClassName("slideInUpSub");
  const slideInDownElements = document.getElementsByClassName("slideInDown");
  const slideInDownSubElements =
    document.getElementsByClassName("slideInDownSub");
  const imagePops = document.getElementsByClassName("imgPop");
  const textScales = document.getElementsByClassName("textScale");
  const moveLeftElements = document.getElementsByClassName("moveInLeft");

  const elementsToObserve = [
    slideRightElements,
    slideLeftElements,
    imagePops,
    slideUpElements,
    slideUpSubElements,
    slideRightSubElements,
    slideLeftSubElements,
    slideInDownElements,
    slideInDownSubElements,
    textScales,
    moveLeftElements,
  ];

  elementsToObserve.forEach(elements => {
    for (let i = 0; i < elements.length; i++) {
      observer.observe(elements[i]);
    }
  });
</script>
