---
import "../styles/global.css";
import Footer from "../components/common/Footer.astro";
import Navbar from "../components/common/Navbar.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body class="bg-background-primary p-0 overflow-x-hidden">
    <Navbar />

    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>

<script>
  import { animate, inView } from "framer-motion";

  const observer = new IntersectionObserver(entries => {
    entries.forEach(entry => {
      if (entry.isIntersecting) {
        entry.target.classList.add("show");
      } else {
        entry.target.classList.remove("show");
      }
    });
  });

  const slideRightElements = document.getElementsByClassName("slideInRight");
  const slideRightSubElements =
    document.getElementsByClassName("slideInRightSub");
  const slideLeftElements = document.getElementsByClassName("slideInLeft");
  const slideLeftSubElements =
    document.getElementsByClassName("slideInLeftSub");
  const slideUpElements = document.getElementsByClassName("slideInUp");
  const slideUpSubElements = document.getElementsByClassName("slideInUpSub");
  const imagePops = document.getElementsByClassName("imgPop");
  const textScales = document.getElementsByClassName("textScale");
  const moveLeftElements = document.getElementsByClassName("moveInLeft");

  const elementsToObserve = [
    slideRightElements,
    slideLeftElements,
    imagePops,
    slideUpElements,
    slideUpSubElements,
    slideRightSubElements,
    slideLeftSubElements,
    textScales,
    moveLeftElements,
  ];

  // const slideAnimations = {
  //   slideInRight: {
  //     opacity: 0,
  //     x: -50,
  //   },
  //   slideInRightSub: {
  //     opacity: 0,
  //     x: -50,
  //   },
  //   slideInLeft: {
  //     opacity: 0,
  //     x: 50,
  //   },
  //   slideInLeftSub: {
  //     opacity: 0,
  //     x: 50,
  //   },
  //   slideInUp: {
  //     opacity: 0,
  //     y: 50,
  //   },
  //   slideInUpSub: {
  //     opacity: 0,
  //     y: 50,
  //   },
  //   slideInDown: {
  //     opacity: 0,
  //     y: -50,
  //   },
  //   slideInDownSub: {
  //     opacity: 0,
  //     y: -50,
  //   },
  // };

  // elementsToObserve.forEach(elements => {
  //   for (let i = 0; i < elements.length; i++) {
  //     inView(elements[i], element => {
  //       console.log("sangram", "called");

  //       const className = [...element.classList.values()].filter(value =>
  //         value.includes("slide")
  //       )[0];

  //       const animation = slideAnimations[className];

  //       console.log(animation);
  //       animate(
  //         element,
  //         {
  //           x: 0,
  //           opacity: 1,
  //         },
  //         {
  //           duration: 0.5,
  //           delay: 0.1,
  //         }
  //       );

  //       return () => animate(element, { ...animation });
  //     });
  //   }
  // });

  elementsToObserve.forEach(elements => {
    for (let i = 0; i < elements.length; i++) {
      observer.observe(elements[i]);
    }
  });
</script>
