---
import "../styles/global.css";
import Footer from "../components/common/Footer.astro";
import Navbar from "../components/common/Navbar.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body class="bg-background-primary p-0 overflow-x-hidden">
    <Navbar />

    <main class="mt-32">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>

<script>
  const observer = new IntersectionObserver(entries => {
    entries.forEach(entry => {
      if (entry.isIntersecting) {
        entry.target.classList.add("show");
      } else {
        entry.target.classList.remove("show");
      }
    });
  });

  const slideRightElements = document.getElementsByClassName("slideInRight");
  const slideRightSubElements =
    document.getElementsByClassName("slideInRightSub");
  const slideLeftElements = document.getElementsByClassName("slideInLeft");
  const slideLeftSubElements =
    document.getElementsByClassName("slideInLeftSub");
  const slideUpElements = document.getElementsByClassName("slideInUp");
  const slideUpSubElements = document.getElementsByClassName("slideInUpSub");
  const imagePops = document.getElementsByClassName("imgPop");
  const textScales = document.getElementsByClassName("textScale");
  const moveLeftElements = document.getElementsByClassName("moveInLeft");

  const elementsToObserve = [
    slideRightElements,
    slideLeftElements,
    imagePops,
    slideUpElements,
    slideUpSubElements,
    slideRightSubElements,
    slideLeftSubElements,
    textScales,
    moveLeftElements,
  ];

  elementsToObserve.forEach(elements => {
    for (let i = 0; i < elements.length; i++) {
      observer.observe(elements[i]);
    }
  });
</script>
